*{
    margin:0;
    padding:0;
}
body{
	background-color: #F3F3F3;

}
#contenedor{
   background:#fff;
   width: 90%;
   height:100%;
   margin:0 auto;
}
 #fondo{
    margin: 0 auto;
    background-color: #9FD5D1;
    min-height: 220px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
nav{
    display: inline-flex;
}
.banner div, img{
    display: grid;
    align-items: center;
}
.menu li {
    display: inline;
    
}
 .menu li a:hover {
    text-decoration: underline;
}


header .menu li a {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 10px;
	color: #143567;
	text-shadow: 0 3px 0 white;
}
#welcome{
    
    text-align: center;
    padding: 15px
}
#info{
    display: inline-flex;
    align-items: center
}
#inicio{
    
    max-width: 100%;
    text-align: justify;
    padding: 15px;
    display: inline;
    align-items: center
    
}
.our-info li{
    list-style: none
}
h2{
    text-align: center
}

#ventajas{
    
    padding: 15px
}
.article-ventja{
    padding: 15px
}
#acreditacion{
    
    padding: 15px
}
.logos-uni{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactos{
    
    padding: 15px;
}
.direccion{
   
    padding: 15px;
}
.region-contacto{
   display: flex;
    align-items: center;
    justify-content: center;
    
}

footer{
   
    text-align: center;
}


@media(max-width:700px){
    
    .region-contacto{
    display: inline-block;
    align-items: center
    }
    #fondo{
    margin: 0 auto;
    background-color: #9FD5D1;
    min-height: 220px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    width: 100%;
    }
    .banner div, img{
    display: grid;
    align-items: center;
    }
    .menu li{
        display: block;
        list-style: none;
    }
    .menu{
    padding-left: 0px;
    }
    #info{
    display: block;
    align-items: center;
    width: 100%
   
    }
    .logos-uni{
    display: grid;
    align-items: center;
    }
    .region-contacto{
    display: block;
    align-items: center
    }
    #inicio{
    max-width: 100%;
    text-align: justify;
    padding: 15px;
    display: inline-block;
    align-items: center;
    }
}







